<a href="https://colab.research.google.com/github/jovanakalamkovic99/example1/blob/main/Domaci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import stats

# podešavanja ispisa
pd.set_option('display.float_format', lambda x: '%.2f' % x) # prikaz df na 2 decimale (npr. za describe)
celzijusi = u'\N{DEGREE SIGN}C' # oznaka za stepene celzijusa

In [ ]:
# učitavanje u dataframe format
df = pd.read_csv('Shanghai.csv')

# format podataka
#print("shape: \n", df.shape)
#print("\n types:\n", df.dtypes, "\n")
print(df.shape)
print(df.info())
#df.head()

(52584, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             52584 non-null  int64
 1   year           52584 non-null  int64
 2   month          52584 non-null  int64
 3   day            52584 non-null  int64
 4   hour           52584 non-null  int64
 5   season         52584 non-null  int64
 6   PM_Jingan      24700 non-null  float64
 7   PM_US Post     34039 non-null  float64
 8   PM_Xuhui       25189 non-null  float64
 9   DEWP           52571 non-null  float64
 10  HUMI           52571 non-null  float64
 11  PRES           52556 non-null  float64
 12  TEMP           52571 non-null  float64
 13  cbwd           52572 non-null  object
 14  Iws            52572 non-null  float64
 15  precipitation  48575 non-null  float64
 16  Iprec          48575 non-null  float64
dtypes: float64(10), int64(6), object(1)
memory usage: 6.8+ MB
None

Imamo 14 obelezja (PM_Jingan i PM_Xuhui nisam uzeo u obzir jer ta obelezja nemaju podatke (NA)) sa oko 52000 uzoraka. Svaki uzorak predstavlja jedan sat u toku jednog dana u odredjenom godisnjem dobu. Imamo obelezja poput godine, meseca, dana u mesecu, temeprature rose, temperature, vlaznosti vazduha itd. Kategoricka obelezja su nam dani, godine, meseci, pravac duvanja vetra a numericka temperatura rose, temperatura, vlaznost, vazdusni pritisak, brzina vetra, padavine na sat i ukupne padavine.

In [ ]:
NANs = df.isnull().sum()
print(NANs)
udeo = df.isnull().sum()/len(df)*100
print("\n Procenat NaN: \n", udeo)

No                   0
year                 0
month                0
day                  0
hour                 0
season               0
PM_Jingan        27884
PM_US Post       18545
PM_Xuhui         27395
DEWP                13
HUMI                13
PRES                28
TEMP                13
cbwd                12
Iws                 12
precipitation     4009
Iprec             4009
dtype: int64

 Procenat NaN:
 No               0.00
year             0.00
month            0.00
day              0.00
hour             0.00
season           0.00
PM_Jingan       53.03
PM_US Post      35.27
PM_Xuhui        52.10
DEWP             0.02
HUMI             0.02
PRES             0.05
TEMP             0.02
cbwd             0.02
Iws              0.02
precipitation    7.62
Iprec            7.62
dtype: float64

In [ ]:
df.drop(['PM_Jingan'], inplace=True, axis = 1)
df

,No,year,month,day,hour,season,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,-6.00,59.48,1026.10,1.00,cv,1.00,0.00,0.00
1,2,2010,1,1,1,4,NaN,NaN,-6.00,59.48,1025.10,1.00,SE,2.00,0.00,0.00
2,3,2010,1,1,2,4,NaN,NaN,-7.00,59.21,1025.10,0.00,SE,4.00,0.00,0.00
3,4,2010,1,1,3,4,NaN,NaN,-6.00,63.94,1024.00,0.00,SE,5.00,0.00,0.00
4,5,2010,1,1,4,4,NaN,NaN,-6.00,63.94,1023.00,0.00,SE,8.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,82.00,90.00,-1.00,65.13,1035.00,5.00,NE,15.00,0.00,0.00
52580,52581,2015,12,31,20,4,93.00,86.00,1.00,70.27,1035.00,6.00,NE,19.00,0.00,0.00
52581,52582,2015,12,31,21,4,90.00,95.00,1.00,70.27,1036.00,6.00,NE,22.00,0.00,0.00
52582,52583,2015,12,31,22,4,86.00,92.00,0.00,70.06,1035.00,5.00,NE,25.00,0.00,0.00
52583,52584,2015,12,31,23,4,77.00,NaN,0.00,70.06,1035.00,5.00,NE,27.00,0.00,0.00

Koriscena je df.drop funkcija zato sto ona sluzi za izbacivanje obelezja koja nam nisu dostupna (NA)

In [ ]:
df.drop(['PM_Xuhui'], inplace=True, axis = 1)
df

,No,year,month,day,hour,season,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,-6.00,59.48,1026.10,1.00,cv,1.00,0.00,0.00
1,2,2010,1,1,1,4,NaN,-6.00,59.48,1025.10,1.00,SE,2.00,0.00,0.00
2,3,2010,1,1,2,4,NaN,-7.00,59.21,1025.10,0.00,SE,4.00,0.00,0.00
3,4,2010,1,1,3,4,NaN,-6.00,63.94,1024.00,0.00,SE,5.00,0.00,0.00
4,5,2010,1,1,4,4,NaN,-6.00,63.94,1023.00,0.00,SE,8.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,82.00,-1.00,65.13,1035.00,5.00,NE,15.00,0.00,0.00
52580,52581,2015,12,31,20,4,93.00,1.00,70.27,1035.00,6.00,NE,19.00,0.00,0.00
52581,52582,2015,12,31,21,4,90.00,1.00,70.27,1036.00,6.00,NE,22.00,0.00,0.00
52582,52583,2015,12,31,22,4,86.00,0.00,70.06,1035.00,5.00,NE,25.00,0.00,0.00
52583,52584,2015,12,31,23,4,77.00,0.00,70.06,1035.00,5.00,NE,27.00,0.00,0.00

Izbacio sam sva obelezja koja nisu obelezena sa US_Post

In [ ]:
df.dropna(inplace = True, axis=0)
df

,No,year,month,day,hour,season,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
17442,17443,2011,12,28,18,4,36.00,4.00,62.00,1027.10,11.00,NE,8.00,0.00,0.00
17443,17444,2011,12,28,19,4,41.00,4.00,62.00,1027.10,11.00,NE,9.00,0.00,0.00
17444,17445,2011,12,28,20,4,44.00,5.00,71.07,1028.10,10.00,NE,11.00,0.00,0.00
17445,17446,2011,12,28,21,4,40.00,5.00,71.07,1028.10,10.00,NE,13.00,0.00,0.00
17446,17447,2011,12,28,22,4,25.00,6.00,76.18,1028.10,10.00,NE,15.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,82.00,-1.00,65.13,1035.00,5.00,NE,15.00,0.00,0.00
52580,52581,2015,12,31,20,4,93.00,1.00,70.27,1035.00,6.00,NE,19.00,0.00,0.00
52581,52582,2015,12,31,21,4,90.00,1.00,70.27,1036.00,6.00,NE,22.00,0.00,0.00
52582,52583,2015,12,31,22,4,86.00,0.00,70.06,1035.00,5.00,NE,25.00,0.00,0.00
52583,52584,2015,12,31,23,4,77.00,0.00,70.06,1035.00,5.00,NE,27.00,0.00,0.00

In [ ]:
print(df.describe())

            No     year    month      day     hour   season  PM_US Post  \
count 31880.00 31880.00 31880.00 31880.00 31880.00 31880.00    31880.00
mean  34368.95  2013.43     6.42    15.75    11.58     2.51       53.41
std    9878.74     1.11     3.50     8.80     6.88     1.14       43.06
min   17443.00  2011.00     1.00     1.00     0.00     1.00        1.00
25%   25928.75  2012.00     3.00     8.00     6.00     1.00       26.00
50%   34148.50  2013.00     6.00    16.00    12.00     3.00       42.00
75%   42929.25  2014.00     9.00    23.00    18.00     4.00       67.00
max   52584.00  2015.00    12.00    31.00    23.00     4.00      730.00

          DEWP     HUMI     PRES     TEMP      Iws  precipitation    Iprec
count 31880.00 31880.00 31880.00 31880.00 31880.00       31880.00 31880.00
mean     11.02    69.43  1016.14    17.23    50.73           0.15     1.01
std       9.69    17.78     8.98     9.23    72.43           1.08     7.43
min     -17.00    13.09   990.00    -4.00     0.00           0.00     0.00
25%       3.00    57.51  1008.10     9.00     6.00           0.00     0.00
50%      12.00    72.04  1016.00    18.00    21.00           0.00     0.00
75%      19.00    83.25  1023.00    24.00    65.00           0.00     0.00
max      28.00   100.00  1040.00    41.00   691.00          61.60   226.40

Na osnovu minimalne i maksimalne vrednosti, mozemo videti da meseci idu od 1-12, sati od 0-23 (ukupno ih ima 24), godisnjih doba 4, to sve deluje u redu. DEWP za Sangaj je oko 10 stepeni C, sto je skoro poklapa sa nasim dobijenim vrednostima (mean=11, 50%=12). Procenat vlaznosti u Sangaju, gledajuci poslednjih 5 godina, se skoro u potpunosti poklapa sa nasim vrednostima. Gledajuci vazdusni pritisak, nasi podataci se poklapaju sa realnim podacima. Jedini koji se istice jeste minimalni vazdusni pritisak, koji je zabelezen na 990 hPa. Temperatura u Sangaju se u potpunosti poklapa sa realnim vrednostima. Medjutim, prosecna brzina i maskimalna brzina vetra su potpuno nelogicne. Nemoguce je da se vetar krece prosecno 180km/h a da je maksimalna brzina 2500km/h. Bice potrebno korigovati ove vrednosti. Srednja vrednost padavina je u redu ali medijana nam se ne poklapa (bice potrebna korekcija). Ukupne godisnje padavine potpuno odstupaju od realnih vrednosti. Postoji preko ~80% vrednosti padavina da su 0. Samim tim, necemo eleminisati ali necemo ni gledati ovo obelezje, posto nam kasnije nece uticati na analizu.

In [ ]:
print('Day: broj uzoraka:', df['day'].isna().sum(), 'tj.', df['day'].isna().sum()/len(df)*100, '%')
print('Year: broj uzoraka:', df['year'].isna().sum(), 'tj.', df['year'].isna().sum()/len(df)*100, '%')
print('Hour: broj uzoraka:', df['hour'].isna().sum(), 'tj.', df['hour'].isna().sum()/len(df)*100, '%')
print('Month: broj uzoraka:', df['month'].isna().sum(), 'tj.', df['month'].isna().sum()/len(df)*100, '%')

Day: broj uzoraka: 0 tj. 0.0 %
Year: broj uzoraka: 0 tj. 0.0 %
Hour: broj uzoraka: 0 tj. 0.0 %
Month: broj uzoraka: 0 tj. 0.0 %

Zakljucujemo da 0% uzoraka fali. Sledece sto cemo odrediti jeste koliko ima nedostajucih vrednosti za prosecnu brzinu vetra.

In [ ]:
print('Brzin vetra:\n', df['Iws'].unique())
print('Iprec:\n', df['Iprec'].unique())
print('PM2.5:\n', df['PM_US Post'].unique())

Brzin vetra:
 [  8.   9.  11.  13.  15.  17.  19.  21.  23.  25.  29.  34.  37.  40.
  44.  49.  55.  66.  71.  76.  83.  89.  95. 102. 108. 115. 120. 125.
 131. 136. 141. 146. 151. 156. 160. 164. 168. 172. 177. 184. 189. 194.
 200. 205. 210. 215. 220. 225. 229. 234. 236. 239. 242. 245.   2.   5.
   1.   3.   6.   4.   7.  10.  20.  27.  42.  47.  51.  58.  62.  65.
  12.  14.  16.  18.  24.  26.  31.  30.  38.  45.  52.  59.  78.  84.
  90.  96. 109. 114. 126. 140. 145. 150. 163. 170. 185. 193. 199. 206.
  22.  28.  32.  36.  39.  43.  48.  50.  54.  61.  75.  79.  82.  85.
  33.  67.  72.  80.  88.  91.  94.  97. 100. 103. 105. 107. 110. 112.
 117. 119. 121. 124. 128. 135. 139. 143. 148. 152. 159. 162. 165. 171.
 174. 176. 178. 180. 187. 190. 192. 195.  35.  41.  69. 113. 118. 123.
 127. 137. 142.   0.  46.  73.  81.  87.  93.  99. 106. 130. 147. 161.
 182. 186. 197. 202. 207. 211. 216. 223. 227. 230. 235. 238. 243. 247.
 251. 255. 259. 262. 264. 268. 272. 276. 281. 286. 290. 295. 301. 305.
 311. 315. 319. 323. 327. 331. 334. 336. 338. 342. 344. 345.  57.  70.
 101. 129. 133. 138. 155. 188. 212. 218. 224. 244. 248.  98.  53.  60.
  64.  74. 111.  56.  63. 144. 173. 191. 196. 208. 214. 221. 254. 258.
 263. 267. 271. 279. 283. 288. 293. 297. 302. 308. 330. 335. 340. 350.
 356. 361. 365. 368. 370. 372. 374. 377. 379.  68.  77. 116.  86.  92.
 104. 132. 166. 169. 175. 179. 122. 134. 158. 181. 219. 231. 257. 270.
 314. 322. 337. 357. 364. 383. 390. 395. 400. 404. 149. 153. 167. 203.
 222. 228. 252. 256. 261. 265. 269. 273. 278. 287. 291. 296. 307. 339.
 157. 217. 240. 246. 253. 277. 282. 300. 306. 312. 317. 321. 154. 226.
 233. 249. 275. 280. 284. 294. 299. 303. 201. 209. 183. 198. 241. 346.
 351. 363. 369. 376. 405. 410. 415. 419. 423. 427. 431. 436. 442. 446.
 456. 461. 471. 488. 493. 499. 505. 514. 528. 532. 535. 538. 541. 544.
 549. 553. 558. 563. 569. 575. 580. 587. 593. 599. 605. 612. 619. 626.
 632. 638. 644. 650. 655. 661. 665. 669. 674. 679. 685. 691. 250. 285.
 292. 298. 329. 366. 382. 391. 409. 416. 439. 448. 457. 466. 474. 484.
 494. 516. 527. 539. 589. 602. 617. 645. 204. 289. 309. 316. 358. 371.
 378. 384. 396. 213. 232. 324. 313. 320. 260. 318. 332. 343. 347. 349.
 237. 310. 333. 355. 362. 387. 414. 424. 435. 447. 458. 467. 478. 497.
 506. 525. 534. 543. 551. 559. 568. 576. 585. 601. 608. 615. 266. 325.
 380. 386. 393. 406. 412. 420. 428. 444. 452. 375. 385. 394. 475. 483.
 492. 500. 507. 513. 521. 536. 326. 352. 360. 367. 388. 397. 402. 274.
 373. 354. 389. 398. 403. 304. 463. 476. 487. 511. 341. 353.]
Iprec:
 [0.000e+00 1.000e-01 2.000e-01 3.000e-01 6.000e-01 8.000e-01 9.000e-01
 7.000e-01 1.700e+00 4.200e+00 7.500e+00 9.600e+00 1.170e+01 1.360e+01
 1.440e+01 1.530e+01 1.620e+01 1.680e+01 1.790e+01 1.820e+01 1.880e+01
 1.970e+01 2.060e+01 2.190e+01 2.270e+01 2.310e+01 2.320e+01 2.370e+01
 2.490e+01 2.540e+01 2.610e+01 2.720e+01 2.750e+01 1.000e+00 1.100e+00
 2.100e+00 2.200e+00 2.400e+00 2.800e+00 3.100e+00 3.300e+00 3.900e+00
 4.800e+00 6.300e+00 6.900e+00 7.400e+00 7.900e+00 8.400e+00 8.500e+00
 4.000e-01 1.600e+00 2.700e+00 4.500e+00 5.100e+00 5.600e+00 7.200e+00
 8.200e+00 8.700e+00 9.100e+00 9.800e+00 1.200e+00 1.500e+00 2.000e+00
 2.900e+00 3.000e+00 3.700e+00 4.400e+00 5.000e-01 2.600e+00 3.200e+00
 3.400e+00 4.600e+00 5.000e+00 5.900e+00 9.300e+00 1.000e+01 1.020e+01
 1.030e+01 1.040e+01 1.800e+00 3.500e+00 3.600e+00 4.100e+00 4.300e+00
 6.200e+00 8.900e+00 1.290e+01 1.510e+01 1.570e+01 1.590e+01 1.770e+01
 2.030e+01 2.510e+01 2.760e+01 3.110e+01 3.260e+01 3.280e+01 1.400e+00
 3.800e+00 1.900e+00 4.000e+00 8.000e+00 7.800e+00 9.900e+00 1.190e+01
 1.270e+01 1.300e+01 1.370e+01 1.460e+01 8.600e+00 1.060e+01 1.110e+01
 2.300e+00 7.000e+00 1.160e+01 1.260e+01 1.280e+01 1.340e+01 5.400e+00
 5.500e+00 1.300e+00 6.700e+00 7.700e+00 1.150e+01 1.380e+01 1.420e+01
 1.660e+01 1.830e+01 1.890e+01 1.930e+01 5.700e+00 9.700e+00 1.080e+01
 1.250e+01 1.330e+01 1.470e+01 6.000e+00 6.100e+00 4.900e+00 6.400e+00
 1.450e+01 1.520e+01 1.580e+01 5.200e+00 2.160e+01 2.570e+01 4.240e+01
 4.890e+01 4.930e+01 7.100e+00 7.300e+00 8.300e+00 9.500e+00 1.090e+01
 1.180e+01 1.200e+01 7.600e+00 1.050e+01 1.480e+01 1.560e+01 2.500e+00
 6.600e+00 8.800e+00 9.200e+00 1.310e+01 1.780e+01 2.210e+01 2.430e+01
 5.300e+00 2.290e+01 2.690e+01 3.050e+01 3.340e+01 3.440e+01 3.670e+01
 3.720e+01 1.720e+01 2.180e+01 2.930e+01 3.680e+01 4.200e+01 5.800e+00
 2.300e+01 4.650e+01 5.300e+01 5.450e+01 5.660e+01 5.810e+01 5.860e+01
 5.890e+01 5.910e+01 1.390e+01 4.110e+01 4.600e+01 5.080e+01 1.550e+01
 1.240e+01 1.610e+01 1.700e+01 1.990e+01 2.110e+01 1.540e+01 1.410e+01
 2.630e+01 3.130e+01 3.690e+01 4.160e+01 5.510e+01 6.460e+01 8.470e+01
 9.680e+01 1.209e+02 1.259e+02 1.311e+02 1.437e+02 1.480e+02 1.536e+02
 1.545e+02 1.565e+02 1.572e+02 1.575e+02 1.585e+02 4.410e+01 2.000e+01
 2.240e+01 2.530e+01 9.400e+00 1.640e+01 1.750e+01 1.920e+01 2.080e+01
 2.120e+01 2.170e+01 2.260e+01 3.810e+01 8.100e+00 9.000e+00 1.810e+01
 2.150e+01 4.700e+00 1.740e+01 1.760e+01 1.840e+01 1.870e+01 6.500e+00
 2.130e+01 2.400e+01 2.520e+01 2.640e+01 2.780e+01 2.870e+01 2.900e+01
 2.940e+01 3.060e+01 3.120e+01 3.310e+01 3.370e+01 3.410e+01 3.470e+01
 3.550e+01 3.580e+01 3.590e+01 6.800e+00 1.010e+01 1.320e+01 1.690e+01
 1.710e+01 1.950e+01 2.010e+01 1.900e+01 2.070e+01 1.130e+01 1.400e+01
 1.430e+01 1.220e+01 1.210e+01 1.910e+01 1.600e+01 1.730e+01 2.100e+01
 2.200e+01 2.390e+01 2.460e+01 2.600e+01 2.350e+01 4.020e+01 5.410e+01
 5.790e+01 6.480e+01 7.060e+01 8.200e+01 2.330e+01 2.340e+01 2.050e+01
 3.240e+01 3.450e+01 3.530e+01 3.710e+01 3.790e+01 3.840e+01 3.860e+01
 1.120e+01 6.620e+01 6.670e+01 6.710e+01 6.160e+01 7.070e+01 7.140e+01
 7.150e+01 7.240e+01 7.460e+01 7.610e+01 7.980e+01 8.080e+01 1.140e+01
 2.560e+01 3.430e+01 4.140e+01 4.450e+01 4.470e+01 4.830e+01 4.910e+01
 5.440e+01 7.010e+01 8.330e+01 9.210e+01 1.034e+02 1.072e+02 1.078e+02
 1.105e+02 1.251e+02 1.366e+02 1.540e+02 1.714e+02 1.903e+02 1.973e+02
 2.048e+02 2.119e+02 2.168e+02 2.177e+02 2.186e+02 2.196e+02 2.207e+02
 2.242e+02 2.254e+02 2.257e+02 2.258e+02 2.259e+02 2.264e+02 2.090e+01
 2.380e+01 2.440e+01 2.660e+01 2.710e+01 2.790e+01 2.980e+01 3.150e+01
 3.200e+01 1.070e+01 1.630e+01 1.980e+01 2.280e+01 2.480e+01 2.590e+01
 2.670e+01 2.840e+01 2.890e+01 2.950e+01 3.020e+01 2.550e+01 2.650e+01
 2.810e+01 2.970e+01 3.140e+01 3.190e+01 3.270e+01 3.390e+01 3.510e+01
 3.660e+01 3.760e+01 3.780e+01 1.230e+01 4.130e+01 4.220e+01 4.300e+01
 4.330e+01 2.220e+01 2.990e+01 3.320e+01 3.380e+01 3.400e+01 3.490e+01
 3.540e+01 4.660e+01 1.650e+01 6.420e+01 6.530e+01 3.500e+01 3.890e+01
 4.790e+01 5.800e+01 5.820e+01 1.100e+01 3.080e+01 3.250e+01 1.800e+01
 3.630e+01 4.260e+01 4.420e+01 4.440e+01 2.860e+01 2.910e+01 3.990e+01
 4.040e+01 4.530e+01 5.320e+01 2.360e+01 1.350e+01 1.860e+01 2.040e+01
 2.420e+01 2.620e+01 2.730e+01 2.450e+01 3.100e+01 4.430e+01 4.690e+01
 4.810e+01 3.330e+01 3.010e+01 5.360e+01 5.420e+01 3.290e+01 2.250e+01
 2.410e+01 3.170e+01 3.360e+01 3.970e+01 2.140e+01 1.500e+01 2.680e+01
 2.500e+01 2.230e+01 4.740e+01 5.120e+01 5.750e+01 6.120e+01 6.210e+01
 6.930e+01 7.730e+01 7.790e+01 8.170e+01 8.440e+01 8.640e+01 8.730e+01
 8.790e+01 2.800e+01 3.420e+01 3.560e+01 2.020e+01 3.650e+01 4.170e+01
 4.870e+01 4.920e+01 5.000e+01 4.080e+01 5.020e+01 5.260e+01 5.380e+01
 6.040e+01 6.200e+01 6.220e+01 1.670e+01]
PM2.5:
 [ 36.  41.  44.  40.  25.  28.  34.  27.  35.  33.  38.  30.  42.  79.
  94. 126. 125. 105.  73.  47.  29.  18.  21.  23.  24.  19.  22.  32.
  46.  56.  64.  71.  70.  75.  78.  68.  72.  63.  59.  66.  77.  85.
  86.  82.  98. 100. 106.  87.  80. 730.  99. 101.  97. 134. 131.  96.
 143. 151. 162. 113.  57.  31.  39.  37.  58.  55.  48.  50.  65.  54.
  43.  52.  62.  69. 124. 144. 219. 194. 123.  81. 111.  93.  88.  49.
  53.  51.  60.  84.  45.  26.  15.  16.  14.  92.  83.  89.  91.  90.
 104. 108. 118. 129. 169. 210. 249. 238. 261. 287. 296. 217. 188.  61.
  20.  17.  67. 132. 141. 114.  74.  12.  11.   9. 121. 120. 115. 130.
 128. 119. 137. 146. 147. 153. 140. 138. 133. 148. 142. 145. 127. 117.
 116. 109. 351. 103. 159. 180. 172. 183. 176. 150. 293.  76.  10.  13.
 248. 225. 102. 122. 135. 139. 149. 112. 107.   8. 650. 168. 190.  95.
 154. 178. 189. 174. 110. 163. 173. 182. 198. 213. 197. 201. 205. 214.
 226. 235. 239. 221. 227. 237. 199. 185. 161. 187. 218. 232. 136. 155.
 157. 152. 164. 171.   2.   3. 200. 224. 206. 192. 175. 158.   5.   4.
   1.   6.   7. 166. 156. 165. 181. 177. 160. 270. 292. 269. 223. 243.
 246. 231. 272. 263. 252. 260. 259. 211. 170. 179. 186. 195. 167. 244.
 251. 236. 202. 203. 228. 229. 247. 258. 256. 209. 241. 338. 220. 193.
 215. 302. 222. 234. 204. 184. 212. 230. 207. 574. 467. 383. 196. 651.
 208. 216. 250. 268. 257. 191. 304. 322. 369. 390. 445. 437. 469. 455.
 364. 362. 355. 370. 381. 412. 438. 481. 507. 514. 505. 472. 432. 400.
 391. 334. 314. 354. 323. 271. 301. 294. 255. 284. 285. 325. 343. 337.
 313. 312. 344. 359. 406. 242. 356. 254. 265. 245. 253. 240. 342. 281.
 262. 266. 233. 267.]

In [ ]:
df.loc[df['year']==2010, 'year']=np.nan
df.drop(df.loc[df['Iws']>14].index, axis=0, inplace=True)
df.head()

,No,year,month,day,hour,season,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
17442,17443,2011.00,12,28,18,4,36.00,4.00,62.00,1027.10,11.00,NE,8.00,0.00,0.00
17443,17444,2011.00,12,28,19,4,41.00,4.00,62.00,1027.10,11.00,NE,9.00,0.00,0.00
17444,17445,2011.00,12,28,20,4,44.00,5.00,71.07,1028.10,10.00,NE,11.00,0.00,0.00
17445,17446,2011.00,12,28,21,4,40.00,5.00,71.07,1028.10,10.00,NE,13.00,0.00,0.00
17497,17498,2011.00,12,31,1,4,68.00,-2.00,69.64,1031.80,3.00,NW,2.00,0.00,0.00

Izbacio sam 2010. godinu, jer u njoj nemamo merenu vrednost ni za jednu PM cesticu. Takodje, za brzinu vetra preko 8m/s sam stavio vrednosti NaN.

In [ ]:
df['precipitation'].fillna(method='ffill', inplace=True)
df['Iprec'].fillna(method='ffill', inplace=True)
df['PM_US Post'].fillna(df['PM_US Post'].median(), inplace=True)
df['Iws'].fillna(df['Iws'].median(), inplace=True)
df.describe()

,No,year,month,day,hour,season,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00,13315.00
mean,34617.87,2013.46,6.40,15.72,11.06,2.49,60.81,11.06,69.18,1015.84,17.39,5.79,0.16,0.86
std,9818.87,1.10,3.49,8.84,6.71,1.14,46.05,9.79,18.66,8.99,9.32,3.84,1.31,5.46
min,17443.00,2011.00,1.00,1.00,0.00,1.00,1.00,-17.00,13.09,990.90,-4.00,0.00,0.00,0.00
25%,26141.50,2012.00,3.00,8.00,5.00,1.00,31.00,3.00,56.19,1008.00,9.00,3.00,0.00,0.00
50%,34565.00,2013.00,6.00,16.00,11.00,2.00,49.00,12.00,72.23,1016.00,18.00,5.00,0.00,0.00
75%,43175.50,2014.00,9.00,23.00,17.00,4.00,77.00,20.00,83.71,1023.00,25.00,9.00,0.00,0.00
max,52579.00,2015.00,12.00,31.00,23.00,4.00,730.00,28.00,100.00,1039.00,41.00,14.00,61.60,148.00